[submodule "MechEngineer"]
	path = MechEngineer
	url = git@github.com:BattletechModders/MechEngineer.git
	branch = master
	update = rebase
[submodule "CustomComponents"]
	path = CustomComponents
	url = git@github.com:BattletechModders/CustomComponents.git
	branch = UnitTypes
	update = rebase
[submodule "DynModLib"]
	path = DynModLib
	url = git@github.com:CptMoore/DynModLib.git
	branch = master
	update = rebase
[submodule "SpeedMod"]
	path = SpeedMod
	url = git@github.com:CptMoore/SpeedMod.git
	branch = master
	update = rebase
[submodule "pansar"]
	path = pansar
	url = git@github.com:hokvel/pansar.git
	branch = master
	update = rebase
[submodule "BT-FYLS"]
	path = BT-FYLS
	url = git@github.com:BattletechModders/BT-FYLS.git
	branch = canon
	update = rebase
[submodule "AssemblyPublicizer"]
	path = AssemblyPublicizer
	url = git@github.com:CptMoore/AssemblyPublicizer.git
	branch = master
	update = rebase
