[submodule "MechEngineer"]
	path = MechEngineer
	url = git@github.com:BattletechModders/MechEngineer.git
	branch = master
	update = rebase
[submodule "CustomComponents"]
	path = CustomComponents
	url = git@github.com:BattletechModders/CustomComponents.git
	branch = main
	update = rebase
[submodule "SpeedMod"]
	path = SpeedMod
	url = git@github.com:CptMoore/SpeedMod.git
	branch = master
	update = rebase
[submodule "pansar"]
	path = pansar
	url = git@github.com:CptMoore/pansar.git
	branch = master
	update = rebase
[submodule "BattletechPerformanceFix"]
	path = BattletechPerformanceFix
	url = git@github.com:BattletechModders/BattletechPerformanceFix.git
	branch = master
	update = rebase
[submodule "CustomFilters"]
	path = CustomFilters
	url = git@github.com:BattletechModders/CustomFilters.git
	branch = master
	update = rebase
[submodule "LewdableTanks"]
	path = LewdableTanks
	url = git@github.com:BattletechModders/LewdableTanks.git
	branch = main
	update = rebase
[submodule "CustomSalvage"]
	path = CustomSalvage
	url = git@github.com:BattletechModders/CustomSalvage.git
	branch = master
	update = rebase
[submodule "NewSaveFolder"]
	path = NewSaveFolder
	branch = master
	url = git@github.com:BattletechModders/NewSaveFolder.git
	update = rebase
[submodule "RogueTechPerfFixes"]
	path = RogueTechPerfFixes
	branch = master
	url = git@github.com:BattletechModders/RogueTechPerfFixes.git
	update = rebase
